<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progle</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'game/font.css' %}">
    <link rel="stylesheet" href="{% static 'game/styles1.css' %}"> 
    <!-- <link rel="stylesheet" href="{% static 'game/styles1.css' %}"> -->
    <link rel="icon" href="./static/game/favicon/facepalm-svgrepo-com.svg" type="image/svg+xml">
</head>
<body>
    <button id="theme-toggle" class="svg-button">
        <div id="svg-container" class="svg-icon">
            <svg viewBox="0 0 24 24" class="svg-icon" width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 21.8a9.796 9.796 0 0 1-1.245-19.513l1.286-.163-.843.984a8.285 8.285 0 0 0 8.519 13.383l1.252-.347-.696 1.096A9.755 9.755 0 0 1 12 21.8zM9.647 3.526a8.796 8.796 0 1 0 9.031 14.196 9.048 9.048 0 0 1-1.178.078A9.293 9.293 0 0 1 9.647 3.526z" fill="#727272"/>
                <path fill="none" d="M0 0h24v24H0z"/>
            </svg>
        </div>
    </button>
    <main class="main-page">
            <div class="text-contener">
                <h1 class="title-game">Progle</h1>
                <h2 class="text-slogan">GUESS THE WORD</h2>
            </div>
            
            <!-- Add your input form for guessing here -->
            <form class="inputs-form" id="guess-form" method="POST">
                {% csrf_token %}
                <label for="guess"></label>
                <!-- Adding the datalist for the guess input field -->
                <input class="input-box" type="text" placeholder="Input word..." id="guess" name="guess" list="word-suggestions" required>
                <datalist id="word-suggestions">
                    <!-- The options will be dynamically inserted here -->
                </datalist>
                <button type="submit" class="button">Guess</button>
            </form>        
    
            <!-- Display feedback messages -->
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
    
            <div class="feedback-wrapper">
                <div id="feedback-header" class="feedback-header" style="display: none;">
                    <div class="header-item">Word</div>
                    <div class="header-item">Type</div>
                    <div class="header-item">Year</div>
                    <div class="header-item">Last Update</div>
                    <div class="header-item">Popularity</div>
                    <div class="header-item">Domains</div>
                    <div class="header-item">Creator</div>
                </div>
            </div>            
            
            <!-- Table to display past guesses -->
            <div id="guesses-table" style="margin-top: 20px;"></div>
            
            <!-- Pass the URL for the 'game:guess' action to JS using a data attribute -->
            <div id="js-data" data-guess-url="{% url 'game:check_guess' %}"></div>
        
        <script src="{% static 'game/scripts.js' %}"></script>
    </main>
</body>
</html>
